{% extends 'base.html.twig' %}

{% block header %}
    {{ include('generic/header.html.twig') }}
{% endblock %}

{% block body %}

    {% for announcement in announcements %}
        <ul>
            <li>
                {{ announcement.id }}
                {{ announcement.title }}
                {{ announcement.content }}
                {{ announcement.price }}
                {{ announcement.createdAt | date}}
            </li>
        </ul>
    {% endfor %}
    {{ dump(announcements) }}
{% endblock %}